* {box-sizing: border-box;}

body{
font-family: Arial, Helvetica, sans-serif;
}

.main{
  padding-bottom: 50px;
}
.headerContainer{
  max-width: 900px;
  margin: 20px auto;

}

.container{
text-align: justify;
color: royalblue;
display: flex;
max-width: 900px;
margin: auto;
gap: 80px;
}

.container .leftSide{
  flex: 1;
}

.container .leftSide h1{
  color: #3A4B5C;
  margin: 0;
  font-size: 30px;
}

.container .leftSide p{
  color: #6A7D8B;
  margin-bottom: 20px;
  font-size: 16px;
}
.container .leftSide input{
  color: #3A4B5C;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(150, 163, 171, .5);
  padding: 10px 2px;
  outline: 0;
  margin-bottom: 20px;
  font-size: 14;
}
.container .leftSide input:disabled {
  opacity: 0.5;
}


.container .leftSide button {
  background-color: #227C9D;
  color: #FFF;
  font-size: 20px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 20px;
  transition: all ease .5s;
}

.container .leftSide button:hover{
 opacity: .7;
}

.container .leftSide button:disabled{
  opacity: .5;
  cursor: auto;
}

.container .rightSide{
   flex: 1;
   margin-left: 40px;
   display: flex;
}

.container .rightSide .grid{
  flex: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.container .rightSide .iconBig{
  flex: 1;
  display: flex;
}
.container .rightSide .arrow{
 position: absolute;
 background-color: #227C9D;
 width: 70px;
 height: 70px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 margin-left: 30px;
 margin-top: 355px;
 transition: all ease .3s;
}
.container .rightSide .arrow:hover{
  opacity: .9;
}

@media (max-width: 770px){
  header {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px;
    flex-direction: column;
  }
  .container .leftSide{
    margin-right: 0;

  }
  
  .container .rightSide {
    margin-left: 0;
    margin-top: 20px;
  }
  .container .rightSide .arrow{
    margin-left: 0;
    margin-top: 180px;
    border-radius: 10px;
  }
}

@media (max-width: 430px){

  .container .rightSide .grid{
    grid-template-columns: 1fr;
  }
}